{% extends "home.html" %}
{% load static %}
{% load tags_filter %}

<body>

    <!-- Main Section -->
    {% block content %}
  <main class="projects">
    <!-- search-bar section -->
    {% include "search-bar.html" %}
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
         {% for project in projects %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'single-project' project.slug|slugify %}" class="project">
                <img class="project__thumbnail" src="{{ project.import_url}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{project.title|capfirst}}</h3>
                  <p><a class="project__author" href="{% url 'user-profile' project.owner.slug|slugify %}">By {{project.owner.name|title}}</a></p>
                  <p class="project--rating">
                    <span style="font-weight: bold;">{{project.vote_ratio}}%</span>
                    {{project.vote_total|pluralize_votes}}
                  </p>
                  <div class="project__tags">
                    {% for tag in project.tags.all%}
                    <span class="tag tag--pill tag--main">
                      <small>{{tag|capfirst}}</small>
                    </span>
                    {% endfor %}

                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

    {% include 'paginate.html' with queryset=projects custom_range=custom_range %}

  </main>
    {% endblock %}

</body>
<script src="{% static '/uikit/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>