{% extends "projects/projects.html" %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>

                <form class="form__delete" action="" method="POST">

                    {% csrf_token %}
                    <p>Are you sure to delete? {{object}}</p>
                    <a href="{{ request.GET.next }}" class="btn btn--sub btn--lg my-md">Go Back</a>
                    <input id="btn--confirm" class="btn btn--sub btn--lg  my-md" type="submit" value="confirm" />
                </form>
            </div>
        </div>
    </main>

{% endblock %}